body
{
    background-image: url("/Sources/Savin-NY-Website-Background-Web.jpg");
    background-size: cover;
}
.MainHead
{
    font-size: 50px;
    color: rgba(27, 40, 53, 0.603);
    margin-left: 5% ;
}
.Parsize
{
    font-size: 20px;
}
.Parsize
{
    font-size: 20px;
    margin: 10%;
}

.Dsize
{

    font-size: 30px;
    font-weight: bold;
}
p,div,span
{
    color: rgb(24, 24, 24);
}
.Para
{
    font-size: 18px;
}
#footer
{
    text-align: center;
}
nav li
{
    display: inline-block ;
    padding: 60px 40px;
    font-size: x-large;
}
nav a
{
    text-decoration: none;
}
.Website_heading
{
    text-align: center;
    font-size: 80px;
    font-weight: bold;
}
table
{
    text-align: center;
    width: 900px;
    height: 300px;
    margin-left: 10%;
}